.dropdown-container{
    width: 100%;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
}
.dropdown-title{
    width: 100%;
    height: 50px;
    background-color: #FF6060;
    border-radius: 5px;
    padding: 20px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.dropdown-title h2{
    color: white;
    font-size: 24px;
}

.dropdown-txt{
    width: 100%;
    background-color: #F6F6F6;
    border-radius: 0px 0px 5px 5px;
    padding: 20px;
    display: none;
}

.dropdown-txt p{
    color: #FF6060;
    font-size: 20px;
}

.active-txt{
    display: block;
}
.active-arrow{
    transform: rotate(180deg);

}