.rate-container{
}
.rate-container .star{
    width: 40px;
    margin-left: 10px;
}
.star-grey{
    fill: #E3E3E3;
    width: 40px;
    margin-left: 10px;
}
.star-red{
    fill: #FF6060;
    width: 40px;
    margin-left: 10px;
}

@media screen and (max-width: 1024px) {
    
}
@media screen and (max-width: 768px) {
    .star-grey{
        width: 15px;
        margin-left: 0px;
    }
    .star-red{
        width: 15px;
        margin-left: 0px;
        margin-right: 5px;
    }
}