.card-container{
    width: 100%;
    margin-bottom: 200px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card-container .card{
    width: 340px;
    height: 340px;
    margin: 1%;
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    position: relative;
}

.card-linearGradient{
    cursor: pointer;
    width: 100%;
    height: 100%;
    background: linear-gradient( 180deg, #ffff 0%, rgb(0, 0, 0) 100%);
    opacity: 0.2;
    position: absolute;
}

.card-title{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 30%;
    padding: 30px;
    position: relative;
    align-items: center;
    justify-content: left;
}
.card-title h2{
    position: absolute;
    font-size: 18px;
    color: #ffff;
    font-style: medium;
}