.header{
    color: #FF6060;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: space-between;
    margin-top: 40px;
    background-color: red;
}

.navbar{
    display: flex;
    width: 200px;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    text-transform: none;
    list-style-type: none;
    font-size: 20px;
}

.navbar a:visited{
    color: #FF6060;
}

.navbar a:hover{
    text-decoration: underline;
}

.unselected{
    text-decoration: none;
}
.selected{
    text-decoration: underline;
}

@media screen and (max-width: 1024px) {
    .navbar a {
        font-size: 20px;
    }
}
@media screen and (max-width: 768px) {
    .navbar a {
        font-size: 12px;
    }
}