.footer-container{
    width: 100%;
    max-height: 500px;
    background-color: black;
    position: absolute;
    bottom: 0%;
    left: 0%;
    padding: 50px 0px 30px 0px;
    text-align: center;
}

.footer-logo img{
    filter: brightness(10);
    max-width: 130px;
}

.footer-container p{
    color: white;
    font-size: 24px;
    font-weight: 100;
    margin-top: 30px;
}